# Week 8 - Wednesday Morning Challenge

This morning challenge will encourage you think through tables and SQL queries. You will learn how to use a new powerful SQL function, built into postgres. We set up the db connections for you so you can focus on building the query.

GA provided database credentials:

psql -h dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com -p 5432 -U dsi_student northwind
password: gastudents

First, let's load in the ipython sql extension so that we can use sql within the ipython notebook.

In [2]:
#Connect to the remote database with paramaters provided
import pandas as pd
#import psycopg2 
import sqlalchemy


engine = sqlalchemy.create_engine('postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com:5432/northwind')

# This can work but sometime there are issues with the connection being specifically supported by psql
# params = {
#   'dbname': 'northwind',
#   'user': 'dsi_student',
#   'password': 'gastudents',
#   'host': 'dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com',
#   'port': 5432
# }

# conn = psycopg2.connect(**params)

Remeber to refer to the schema and tables of northwind database: https://northwinddatabase.codeplex.com/

In [3]:
pd.read_sql_query('SELECT DISTINCT(table_schema) FROM information_schema.tables\
                          ORDER BY 1;',con=engine)

         table_schema
0  information_schema
1          pg_catalog
2              public

In [5]:
# Optional: View tables in this database
#pd.read_sql("SELECT table_schema,table_name, table_type FROM  information_schema.tables WHERE table_schema = 'public';",con=engine)

## Question for the Challenge:

The Senior VP walks into your office 1 hour before a big meeting to ask you to pull data for him. She has a hunch that people who have worked at Northwind longer are *not* doing as well in sales as new people.

There is no time to put things into a presentation, she wants the query output (csv file) and 3 bullet points in an email. Use data from the most recent month in the database. 

Answer the VP's question using SQL query using the RANK() function. The Rank function is a type of [window function](https://www.postgresql.org/docs/9.2/static/functions-window.html)

Aside: What are the potential implications of this information? What does this mean for the sales team? This may put in context the items you want to point out in your email.

In [10]:
#Hint: Print out the "head" of relevant tables. 
# Replace "order_details" below with the relevant tables you will be using for your query.

pd.read_sql_query("SELECT * FROM order_details LIMIT 10", con=engine)

   OrderID  ProductID  UnitPrice  Quantity  Discount
0    10248         11       14.0        12      0.00
1    10248         42        9.8        10      0.00
2    10248         72       34.8         5      0.00
3    10249         14       18.6         9      0.00
4    10249         51       42.4        40      0.00
5    10250         41        7.7        10      0.00
6    10250         51       42.4        35      0.15
7    10250         65       16.8        15      0.15
8    10251         22       16.8         6      0.05
9    10251         57       15.6        15      0.05

## Solution

Hints to the class: 
- Tables: Employees, Order, Order details